/* // Email Prompt
#SignupForm_0 {
  .modalContent__content {
    .content__titleDescription {
      display: none;
    }
  }
} */

.modalContent {
  background: red;
}


.content__titleDescription {
  display: none;
}
